@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --electric: #0079ff;
  --gray: #697c9a;
  --darkSky: #4b6a9b;
  --darkBlue: #2b3442;
  --lightBg: #f6f8ff;
  --light: #fefefe;
  --white: #ffffff;
  --dark: #141d2f;
  --semiDark: #1e2a47;
  --error: #f74646;
}
body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Space Mono", monospace;
  background-color: #f6f8ff;
  padding: 0 24px;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 31px;
}
.title {
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  color: #222731;
}
.title.dark {
  color: var(--white);
}
.theme-text {
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 2.5px;
  color: var(--darkSky);
}
.theme-text.dark {
  color: var(--white);
}
.theme-panel {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
#sun {
  display: none;
}
.form {
  padding: 7px 7px 7px 16px;
  margin-top: 36px;
  display: flex;
  align-items: center;
}
.card {
  width: 100%;
  background-color: var(--white);
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  border-radius: 15px;
}
.card.dark {
  background-color: var(--semiDark);
  box-shadow: none;
}
.card.dark,
.card.dark h2,
.card.dark h3,
.card.dark p {
  color: var(--white);
}
#blog.dark {
  color: var(--white);
}
#user {
  width: 184px;
  border: none;
  outline: none;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  color: #222731;
  margin-left: 9px;
}
#user.dark {
  color: var(--white);
  background-color: transparent;
}
#user::placeholder {
  color: var(--darkSky);
}
#user.dark::placeholder {
  color: var(--white);
}
.btn {
  border: none;
  color: var(--white);
  background-color: var(--electric);
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  border-radius: 10px;
  padding: 12px 16px;
  margin-left: auto;
}
.error {
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: var(--error);
  height: 25px;
  width: fit-content;
  margin-right: auto;
}
.user-info {
  padding: 32px 24px 48px 24px;
}
.avatar-desktop {
  display: none;
}
.info {
  width: 100%;
}
.general {
  display: flex;
  align-items: center;
  column-gap: 19px;
}
.avatar-mobile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.name {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--darkBlue);
  text-transform: capitalize;
}
.login {
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: var(--electric);
}
.join-date {
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: var(--gray);
  margin-top: 6px;
}
.bio {
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  color: var(--darkSky);
  margin-top: 33px;
}
.stats {
  width: 100%;
  border-radius: 10px;
  background-color: var(--lightBg);
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 23px;
  column-gap: 30px;
}
.stats.dark {
  background-color: var(--dark);
}
.stat {
  text-align: center;
}
.stat-title {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: var(--darkSky);
  text-transform: capitalize;
}
.amount {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #2b3442;
  margin-top: 8px;
}
.location {
  display: grid;
  grid-template-columns: auto;
  margin-top: 24px;
  row-gap: 16px;
}
.location-info {
  position: relative;
}
.location-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: var(--darkSky);
  position: absolute;
  top: 0;
  left: 33px;
}
.location-link {
  text-decoration: none;
}
@media (min-width: 768px) {
  body {
    padding: 0 98px;
    padding-bottom: 236px;
  }
  .main-container {
    position: relative;
  }
  .header {
    margin-top: 140px;
  }
  #user {
    font-size: 18px;
    line-height: 25px;
    width: 254px;
  }
  .btn,
  .login {
    font-size: 16px;
    line-height: 23.7px;
  }
  .form {
    padding: 10px 10px 10px 32px;
  }
  .name {
    font-size: 26px;
    line-height: 38.51px;
  }
  .user-info {
    padding: 40px;
    margin-top: 24px;
  }
  .general {
    column-gap: 40px;
  }
  .join-date,
  .location-text {
    font-size: 15px;
    line-height: 22.22px;
  }
  .bio {
    font-size: 15px;
    line-height: 25px;
  }
  .stat-title {
    font-size: 13px;
    line-height: 19.25px;
  }
  .amount {
    font-size: 22px;
    line-height: 32.58px;
  }
  .stats {
    column-gap: 98px;
  }
  .stat {
    text-align: left;
  }
  .location {
    grid-template-columns: auto auto;
    width: 100%;
  }
  .location-info:nth-child(3) {
    grid-column: 2/2;
    grid-row: 1/2;
  }
  .error {
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    position: absolute;
    top: 30%;
    right: 20%;
  }
}
@media (min-width: 989px) {
  .error {
    right: 15%;
  }
}
@media (min-width: 1200px) {
  .error {
    right: 13%;
    top: 31%;
  }
}
@media (min-width: 1440px) {
  body {
    padding: 0;
    padding-bottom: 170px;
  }
  .header,
  .card {
    width: 730px;
  }
  .avatar-mobile {
    display: none;
  }
  .avatar-desktop {
    display: block;
    width: 117px;
    height: 117px;
    border-radius: 50%;
  }
  .user-info {
    display: flex;
    column-gap: 37px;
    padding: 48px;
  }
  .personal {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .error {
    right: 17%;
    top: 31%;
  }
}
